{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h2 class="text-center mb-4">{% trans "Configurar Preços de Serviços" %}</h2>

    <form method="POST">
      {% csrf_token %}
      
      <div class="form-group mb-3">
        <label for="change_nickname_price" class="form-label">
          {% trans "Preço para Alteração de Nickname" %}
        </label>
        <input type="text" name="change_nickname_price" id="change_nickname_price" class="form-control"
               value="{{ change_nickname_price }}" placeholder="{% trans "Insira o valor" %}">
      </div>

      <div class="form-group mb-3">
        <label for="change_sex_price" class="form-label">
          {% trans "Preço para Alteração de Sexo" %}
        </label>
        <input type="text" name="change_sex_price" id="change_sex_price" class="form-control"
               value="{{ change_sex_price }}" placeholder="{% trans "Insira o valor" %}">
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-3">
        {% trans "Salvar Configurações" %}
      </button>
    </form>

  </div>
</div>
{% endblock %}
