# Arquivos compilados Python
*.pyc

# Arquivos de sistema macOS
*.DS_Store

# Arquivos de distribuição de pacotes Python
*.egg*

# Diretórios de distribuição
/dist/

# Configurações do IDE IntelliJ IDEA
/.idea

# Documentação gerada
/docs/_build/

# Dependências do Node.js
/node_modules/

# Diretórios de construção
build/

# Ambientes virtuais Python
.env
.venv

# Arquivos estáticos
/staticfiles/

# Arquivos de banco de dados SQLite
*.sqlite*

# Migrações do Django
**/migrations/**
!**/migrations/
!**/migrations/__init__.py

# Arquivos de MEDIA
/media/

# Arquivos de logs
/logs/**
!logs/

# sonar
/.scannerwork/

# celery
*celerybeat*

# nginx / password
/nginx/.htpasswd

# themes
/themes/
