DEBUG=False
SECRET_KEY=41&l85x$t8g5!wgvzxw9_v%jbph2msibr3x7jww5%1u8w*3ax
GUNICORN_WORKERS=4
DB_ENGINE=postgresql
DB_HOST=postgres
DB_NAME=db_name
DB_USERNAME=db_user
DB_PASS=db_pass
DB_PORT=5432
USE_S3=False
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=us-east-1
AWS_S3_CUSTOM_DOMAIN=your-bucket-name.s3.amazonaws.com
CONFIG_EMAIL_ENABLE=False
CONFIG_EMAIL_USE_TLS=True
CONFIG_EMAIL_HOST=smtp.domain.com
CONFIG_EMAIL_HOST_USER=mail@mail.dev.br
CONFIG_DEFAULT_FROM_EMAIL=mail@mail.dev.br
CONFIG_EMAIL_HOST_PASSWORD=password
CONFIG_EMAIL_PORT=587
CONFIG_AUDITOR_MIDDLEWARE_ENABLE = True
DJANGO_CACHE_REDIS_URI=redis://redis:6379/0
RENDER_EXTERNAL_HOSTNAME=pdl.denky.dev.br
RENDER_EXTERNAL_FRONTEND=pdl.denky.dev.br
CELERY_BROKER_URI=redis://redis:6379/1
CELERY_BACKEND_URI=redis://redis:6379/1
CHANNELS_BACKEND=redis://redis:6379/2
ENCRYPTION_KEY = 'iOg0mMfE54rqvAOZKxhmb-Rq0sgmRC4p1TBGu_JqHac='
DATA_UPLOAD_MAX_MEMORY_SIZE = 31457280
LINEAGE_DB_NAME=l2jdb
LINEAGE_DB_USER=l2user
LINEAGE_DB_PASSWORD=suaSenhaAqui
LINEAGE_DB_HOST=192.168.1.100
LINEAGE_DB_PORT=3306
LINEAGE_DB_POOL_SIZE=1
LINEAGE_DB_MAX_OVERFLOW=2
LINEAGE_DB_POOL_RESET_COOLDOWN=10
LINEAGE_DB_MAX_CONSECUTIVE_ERRORS=3
LINEAGE_DB_ERROR_WINDOW=5
CONFIG_MERCADO_PAGO_ACCESS_TOKEN = "APP_USR-0000000000000000-000000-00000000000000000000000000000000-000000000"
CONFIG_MERCADO_PAGO_PUBLIC_KEY = "APP_USR-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
CONFIG_MERCADO_PAGO_CLIENT_ID = "0000000000000000"
CONFIG_MERCADO_PAGO_CLIENT_SECRET = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CONFIG_MERCADO_PAGO_SIGNATURE = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
LINEAGE_QUERY_MODULE=dreamv3
CONFIG_HCAPTCHA_SITE_KEY=bcf40348-fa88-4570-a752-2asdasde0b2bc
CONFIG_HCAPTCHA_SECRET_KEY=ES_dc688fdasdasdadasdas4e918093asddsddsafa3f1b
CONFIG_LOGIN_MAX_ATTEMPTS=3
CONFIG_HCAPTCHA_FAIL_OPEN=False
CONFIG_LANGUAGE_CODE="pt"
CONFIG_TIME_ZONE="America/Recife"
CONFIG_DECIMAL_SEPARATOR=','
CONFIG_USE_THOUSAND_SEPARATOR=True
CONFIG_DATETIME_FORMAT='d/m/Y H:i:s'
CONFIG_DATE_FORMAT='d/m/Y'
CONFIG_TIME_FORMAT='H:i:s'
CONFIG_GMT_OFFSET=-3
CONFIG_GRANDBOSS_SHOW_TIME=True
CONFIG_SHOW_PLAYERS_ONLINE=True
PROJECT_TITLE=Lineage 2 PDL
PROJECT_AUTHOR=Lineage 2 PDL
PROJECT_DESCRIPTION=O PDL é um painel que nasceu com a missão de oferecer ferramentas poderosas para administradores de servidores privados de Lineage 2. Inicialmente voltado à análise de riscos e estabilidade dos servidores, o projeto evoluiu e se consolidou como uma solução completa para prospecção, gerenciamento e operação de servidores — tudo em código aberto.
PROJECT_KEYWORDS=lineage l2 painel servidor
PROJECT_URL=https://pdl.denky.dev.br
PROJECT_LOGO_URL=/static/assets/img/logo_painel.png
PROJECT_FAVICON_ICO=/static/assets/img/ico.jpg
PROJECT_FAVICON_MANIFEST=/static/assets/img/favicon/site.webmanifest
PROJECT_THEME_COLOR=#ffffff
PROJECT_DISCORD_URL='https://discord.gg/seu-link-aqui'
PROJECT_YOUTUBE_URL='https://www.youtube.com/@seu-canal'
PROJECT_FACEBOOK_URL='https://www.facebook.com/sua-pagina'
PROJECT_INSTAGRAM_URL='https://www.instagram.com/seu-perfil'
CONFIG_STRIPE_WEBHOOK_SECRET='whsec_5dzjceF7LgeYzasdasdasdZpSuPq'
CONFIG_STRIPE_SECRET_KEY='sk_test_51RK0cORmyaPSbmPDEMjN0DaasdasdadadasdafgagdhhfasdfsfnbgRrtdKRwHRakfrQub9SQ5jQEUNvTfrcFxbw00gsqFR09W'
CONFIG_MERCADO_PAGO_ACTIVATE_PAYMENTS=True
CONFIG_STRIPE_ACTIVATE_PAYMENTS=True
RUNNING_IN_DOCKER=True
SLOGAN=True
LINEAGE_DB_ENABLED=True
SHOW_THEME_ERRORS_TO_USERS=True
GOOGLE_CLIENT_ID=3029asdasd17179-i4lfm6078nrov5lhv9628bch2o8vlqs8.apps.googleusercontent.com
GOOGLE_SECRET_KEY=GOCSPX-bWw9hU6Mb3pasdasdasd
GITHUB_CLINET_ID=Ov23liadadadwcXpjog38V
GITHUB_SECRET_KEY=ea0d1c77b910eadadadada65a7cbddee1bd07deb
DISCORD_CLIENT_ID=13836455adada77550336
DISCORD_SECRET_KEY=Gs9db5OmQ9dadadadadad8CtOQuLKx42fdf
SOCIAL_LOGIN_ENABLED=False
SOCIAL_LOGIN_GOOGLE_ENABLED=False
SOCIAL_LOGIN_GITHUB_ENABLED=False
SOCIAL_LOGIN_DISCORD_ENABLED=False
SOCIAL_LOGIN_SHOW_SECTION=False
GAME_SERVER_IP=192.168.1.100
GAME_SERVER_PORT=7777
LOGIN_SERVER_PORT=2106
SERVER_STATUS_TIMEOUT=1
FORCE_GAME_SERVER_STATUS=auto
FORCE_LOGIN_SERVER_STATUS=auto
FAKE_PLAYERS_FACTOR=1.0
FAKE_PLAYERS_MIN=0
FAKE_PLAYERS_MAX=0
ANTHROPIC_API_KEY=sua_chave_anthropic_aqui
GEMINI_API_KEY=sua_chave_gemini_aqui
XAI_API_KEY=sua_chave_grok_aqui
