{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5 text-center">
  <div class="alert alert-danger shadow-lg p-4">
    <h2 class="mb-3">{% trans "Pagamento Recusado ou Falhou" %}</h2>
    <p>{% trans "Algo deu errado com o processamento do seu pagamento. Você pode tentar novamente." %}</p>
    <a href="{% url 'payment:pedidos_pendentes' %}" class="btn btn-danger mt-3">
      {% trans "Ver Pedidos Pendentes" %}
    </a>
  </div>
</div>
{% endblock %}
