{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %}{% trans "Solicitação Rejeitada" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-3 p-5 text-center">
        <h1 class="display-4 text-danger mb-4">
            ❌ {% trans "Solicitação Rejeitada" %}
        </h1>
        <p class="lead text-muted mb-4">
            {% trans "Infelizmente, sua solicitação para se tornar um apoiador foi recusada no momento." %}
        </p>
        <p class="text-sm text-gray-500">
            {% trans "Caso ache que houve um engano ou queira mais informações, entre em contato com a staff." %}
        </p>
    </div>
</div>
{% endblock %}
